body {
    text-align: center;
    background-color:#001f3f;
}
#infoContainer{
    float: left;
    position: relative;
    padding-top: 15em;
    padding-left: 40em;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
.infoButtons {
    background-color: #85144b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-size: 20px;
}
.infoButtons:hover {
    background-color: #c41c6d;
    color: white;
  }
#names {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-bottom: 1em;
}
#startRestart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.puff-in-center {
    -webkit-animation: puff-in-center 0.2s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
    animation: puff-in-center 0.2s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.formContent {
  background: #7fdbffe1;
  margin-top: 10em;
  padding: 40px;
  border: 5px solid #85144b;
  width: auto;
  line-height: 50px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0.44em 0.44em rgba(0, 0, 0, 0.35);
  font-weight: 400;
}
.close {
    color: #FF4136;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(165, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
#submitButton {
    background-color: #3D9970;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-size: 20px;
}
#submitButton:hover {
    background-color: #296d4e;
}
#resultModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#resultModal h1 {
    margin: auto;
    padding: 40px;
    width: 90%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0.44em 0.44em rgba(0, 0, 0, 0.35);
    font-weight: 600;
    left: 0;
    line-height: 130px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-animation: focus-in-expand 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 2em;
    padding-left: 20em;
    padding-top: 10em;
}

#gameBoard button{
    height: 10em;
    width: 10em;
    border-width: 0.5em;
    outline: none;
    align-items: center;
    justify-content: center;
}
#topLeft {
    border-top: none;
    border-left: none;
    border-right: solid;
    border-bottom: solid;
}
#topCenter {
    border-top: none;
    border-left: none;
    border-right: inherit;
    border-bottom: solid;
}
#topRight {
    border-top: none;
    border-right: none;
    border-left: solid;
    border-bottom: solid;
}
#centerLeft {
    border-left: none;
    border-top:inherit;
    border-bottom: none;
    border-right: solid;
}
#center {
    border: none ;
}
#centerRight {
    border-right: none;
    border-top: inherit;
    border-bottom: none;
    border-left: solid;
}
#bottomLeft {
    border-bottom: none;
    border-top: solid;
    border-left: none;
    border-right: solid;
}
#bottomCenter {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid;
}
#bottomRight {
    border-bottom: none;
    border-top: solid;
    border-left: solid;
    border-right: none;
}
#cross {
    font-size: 6em;
    color: black;
    font-weight: 500;
}
#circle {
    font-size: 4em;
    color: #ceb200;
    font-weight: 500;
}