body {
    text-align: center;
}
#infoContainer{
    float: left;
    position: relative;
    padding-top: 10em;
    padding-left: 20em;
}
#names {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-bottom: 1em;
}
#startRestart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: popup 0.4s;
}

  @keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.4);
    }
    70%{
      transform: scale(1.3);
    }
    80%{
      transform: scale(1.2);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
}
.formContent {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(30, 97, 160) 100%);
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 30%;
  line-height: 50px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'Cambria', sans-serif;
  text-shadow: 0 0.44em 0.44em rgba(0, 0, 0, 0.35);
  font-weight: 700;
}
.close {
    color: rgb(221, 18, 18);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(165, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 2em;
    padding-left: 15em;
    padding-top: 2em;
}

#gameBoard button{
    height: 10em;
    width: 10em;
    border-width: 0.5em;
    outline: none;
    align-items: center;
    justify-content: center;
}
#topLeft {
    border-top: none;
    border-left: none;
    border-right: solid;
    border-bottom: solid;
}
#topCenter {
    border-top: none;
    border-left: none;
    border-right: inherit;
    border-bottom: solid;
}
#topRight {
    border-top: none;
    border-right: none;
    border-left: solid;
    border-bottom: solid;
}
#centerLeft {
    border-left: none;
    border-top:inherit;
    border-bottom: none;
    border-right: solid;
}
#center {
    border: none ;
}
#centerRight {
    border-right: none;
    border-top: inherit;
    border-bottom: none;
    border-left: solid;
}
#bottomLeft {
    border-bottom: none;
    border-top: solid;
    border-left: none;
    border-right: solid;
}
#bottomCenter {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid;
}
#bottomRight {
    border-bottom: none;
    border-top: solid;
    border-left: solid;
    border-right: none;
}
#cross {
    font-size: 6em;
    color: rgb(130, 10, 243);
}
#circle {
    font-size: 4em;
    color: rgb(68, 214, 11);
}